<div class="white-background" style="text-align: center;">
	<h1 class="col-md-12">Your friend requests</h1>
	<div class="row">
		<% current_user.inverse_friendships_pending.each do |u| %>
			<div class="col-md-3">
				<%= render 'links_to_profiles', u: u %>
				<span style="display: inline-block;">
					<%= button_to 'Accept', friendship_path(id: u.id), method: :put, class: 'btn btn-primary' %>
				</span>
				<span style="display: inline-block;">
					<%= button_to 'Reject', friendship_path(id: u.id), method: :delete, class: 'btn btn-danger'%>
				</span>
				<br><br><br><br>
			</div>
		<% end %>
		</div>
	</div>
</div>
