@import "~bootstrap/scss/bootstrap";
@import '@fortawesome/fontawesome-free';

body{
	background-color: #f3f3f3;
}

h1{
	margin-bottom: 50px;
	margin-top: 20px;
	text-align: center;	
}

.navbar{
	padding: 10px 10%;
}

.cover{
	background-image: url(/assets/code.jpg);
	background-position: center;
	background-size: 100%;
	color: white;
	
}

.white-background{
	background-color: white;
	margin-top: 10px;
	padding: 2%;
}

