<h1>Create a post</h1>
<div class="form-group">
	<div class="row">
		<div class="col-md-2">
			<%= user_gravatar current_user %>
		</div>
		<div class="col-md-10">
			<%= form_for @post do |f| %>
			  <%= f.text_area :body, class: 'form-control', placeholder: 'Type here' %><br>
			  <%= f.submit "Create post", class: 'btn btn-primary' %>
			<% end %>
		</div>
	</div>
</div>